body{
    height: 100vh;
}

.alphbet{
    display: flex;
    background-color: rgb(58, 58, 36);
    gap: 10px;
    height: 100%;
}

.abcde{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 55%;
}

.ab{
    display: flex;
    gap: 10px;
    height: 45%;
    width: 100%;

}

.a{
   height: 100%;
    width: 40%;
    background-color: rgb(235, 235, 235);
}

.b{
    height: 100%;
    width: 60%;
    background-color: rgb(235, 235, 235);
}

.cde{
    display: flex;
    gap: 10px;
    height: 55%;
    width: 100%;

}

.cd{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 20%;

}

.c{
    height: 50%;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.d{
    height: 50%;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.e{
    height: 100%;
    width: 80%;
    background-color: rgb(235, 235, 235);
}

.fgh{
    display: flex;
    gap: 10px;
    height: 100%;
    width: 45%;

}

.f{
    width: 50%;
    background-color: rgb(235, 235, 235);
}

.gh{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 50%;

}

.g{
    height: 80%;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.h{
    height: 20%;
    width: 100%;
    background-color: rgb(235, 235, 235);
}